.addcartes {
    padding-bottom: 254px;
    padding-top: 122px;
    padding-left: 250px;
}

.addcartes h2 {
    color: #13243F;
    font-size: 36px;
    font-family: "Marcellus", serif;
    font-weight: bold;
}